In [1]:
from hashlib import sha1

def compute_hash(email):
    return sha1(email.encode('utf-8')).hexdigest()

def compute_certificate_id(email):
    email_clean = email.lower().strip()
    return compute_hash(email_clean + '_')

In [2]:
cohort = 2022
course = 'mlops-zoomcamp'
your_id = compute_certificate_id('jan.kaemmerer@rwth-aachen.de')
url = f"https://certificate.datatalks.club/{course}/{cohort}/{your_id}.pdf"
print(url)

https://certificate.datatalks.club/mlops-zoomcamp/2022/93cac50e32bc1c03003781d9704df6460bcbe6b0.pdf

In [28]:

# Import pandas
import pandas as pd

# Read json from String
json_str = '{"Courses":{"r1":"Spark"},"Fee":{"r1":"25000"},"Duration":{"r1":"50 Days"}}'
#json_str = str({"index":0,"path":"test\/001.jpg","class_id":32,"minifigure_name":"JANNAH","labels":"jannah","fname":"test\/001.jpg"})
df = pd.read_json(json_str)
print(df)

   Courses    Fee Duration
r1   Spark  25000  50 Days

In [31]:
df.columns.tolist()

['Courses', 'Fee', 'Duration']

In [32]:
df = df[['Fee', 'Duration', 'Courses']]

In [33]:
df.head()

      Fee Duration Courses
r1  25000  50 Days   Spark

In [27]:
import json
json_str = json.dumps({"index": 0,"class_id":32,"minifigure_name":"JANNAH","labels":"jannah"})
json.loads(json_str)
pd.read_json(json_str, typ="series")

index                   0
class_id               32
minifigure_name    JANNAH
labels             jannah
dtype: object